<html>
    <head>
        <title>Meeting Tracker</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script src="https://kit.fontawesome.com/532e54d05a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="d-flex bd-highlight  align-items-center" ">
            <div class="ui fixed inverted menu" id="navbarID">
                <div class="ui container">
                    <div class="item p-2 bd-highlight">
                    <p class="item" id="visionetID">VISIONET</p>
                    </div>
                    <div class="header item p-2 bd-highlight" id="titleID"><i class="fas fa-users fa-2x"></i> &nbsp; Meeting Tracker</div>
                    <a href="/" class="item p-2 bd-highlight">Meetings</a>
                    <a href="/blogs/new" class="item p-2 bd-highlight">New Meeting</a>
                    <a href="/tasks" class="item p-2 bd-highlight">Tasks</a>
                    <a href="/tasks/new" class="item mr-auto p-2 bd-highlight">Add Tasks</a>
                    <div class="item p-2 bd-highlight" id="userID">
                    <p class="item "></p><%=currentUser.username%></p>
                    </div>
                    <a href="/logout" class="item p-2 bd-highlight" id="logoutID"><i class="fas fa-power-off fa-2x "></i></a>
                </div>
            </div>
            </div>
<div class="ui main text container segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached">
        <div class="item">
           
            <div class="description">
               
                 <p><b>Meeting Category:</b> <%- blog.meetingcategory %></p> 
                 <p><b>Attendees:</b> <%- blog.attendees %></p> 
                 <p><b>Start Date & Time:</b> <%- blog.starttime %></p> 
                 <p><b>End Date & Time:</b> <%- blog.endtime %></p> 
                 <p><b>Location:</b> <%- blog.location %></p> 
                 <p><b>MoM:</b> <%- blog.body %></p>
            </div>
            <!-- <div class="content">
                <span>Meeting Created: <%= blog.created.toDateString() %></span>
           </div> -->
            <a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
            <form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>

