<html>
    <head>
        <title>Meeting Tracker</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script src="https://kit.fontawesome.com/532e54d05a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class="d-flex bd-highlight  align-items-center" ">
            <div class="ui fixed inverted menu" id="navbarID">
                <div class="ui container">
                    <div class="item p-2 bd-highlight">
                    <p class="item" id="visionetID">VISIONET</p>
                    </div>
                    <div class="header item p-2 bd-highlight" id="titleID"><i class="fas fa-users fa-2x"></i> &nbsp; Meeting Tracker</div>
                    <a href="/" class="item p-2 bd-highlight">Meetings</a>
                    <a href="/blogs/new" class="item p-2 bd-highlight">New Meeting</a>
                    <a href="/tasks" class="item p-2 bd-highlight">Tasks</a>
                    <a href="/tasks/new" class="item mr-auto p-2 bd-highlight">Add Tasks</a>
                    <div class="item p-2 bd-highlight" id="userID">
                    <p class="item "></p><%=currentUser.username%></p>
                    </div>
                    <a href="/logout" class="item p-2 bd-highlight" id="logoutID"><i class="fas fa-power-off fa-lg "></i></a>
                </div>
            </div>
            </div>


         <!-------------------------------------------- FILTER ------------------------------------------->
         <div class="container" id="filterID">
            <div class="row">
               

                
         <div class="col-md-6">
            <form action="/search/" id="EmployeeFormID" class="form-horizontal" method="POST"  role="form">

                <div class="col-md-12">
                    <h1>Filter Tasks Archive</h1>
                    <br>
                </div>
                        
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email" class="col-md-12 control-label">Person Responsible</label>
                        <div class="col-md-12">
                            <select class="form-control" name="task[name]">
                                <option selected =""></option>
                                <option value="Alok Bansal">Alok Bansal</option>
                                <option value="Amit Khandelwal">Amit Khandelwal</option>
                                <option value="Gitanjali Singh">Gitanjali Singh</option>
                                <option value="Jimmy Cherian">Jimmy Cherian</option>
                                <option value="Kshitij Singhal">Kshitij Singhal</option>
                                <option value="Miriam Shaju">Miriam Shaju</option>
                                <option value="Narmada Lakshamanan">Narmada Lakshmanan</option>
                                <option value="Raju Varda">Raju Varada</option>
                                <option value="Sundar K">Sundar K</option>
                                <option value="Tushar Singh">Tushar Singh</option>
                                <option value="Vishwa K">Vishwa K</option>
                              </select></div>
                    </div>
                 </div>
           <div class="col-md-12">
            <div class="form-group">
                <label for="email" class="col-md-12 control-label">Priority</label>
                <div class="col-md-12">
                    <select class="form-control" name="task[pname]">
                        <option selected =""></option>
                        <option value="Critical">Critical</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                      </select></div>
            </div>
         </div>
           <div class="col-md-12">
              <div class="form-group">
                  <label for="email" class="col-md-12 control-label">Status</label>
                  <div class="col-md-12">
                      <select class="form-control" name="task[sname]">
                        <option selected =""></option>
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                        <option value="Deffered">Deferred</option>
                        </select></div>
              </div>
           </div>
           <div class="col-md-12">
              <div class="form-group">
                  <label for="email" class="col-md-12 control-label">&nbsp;</label>
                 
                   <div class="col-md-12">
                      <input type="submit" class="form-control btn btn-primary" name="submit" placeholder="Filter">
                  </div>
              </div>
           </div>
    </form>


    <div class="col-md-6" id="archiveID">
<div class="ui main text container">
    <div class="ui huge header">Tasks Archive</div>
    <br>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% if(tasks.length>0) { %>
            <% tasks.forEach(function(task){ %>
                <div class="item">
                    <div class="content">
                
                        <div class="header">
                            <p>Task: <%- task.description %></p> 
                        </div>
                            <div class="description">
                                <p>Assigned To: <%- task.assignedto %></p>
                                <!-- <p>Assigned Date: <%- task.assigned %></p>
                                <p>Deadline: <%- task.deadline %></p>
                                <p>Priority: <%- task.priority %></p>
                                <p>Status: <%- task.status %></p> -->
                        </div>
                        <div class="meta">
                            <span>Task Created:<%= task.created.toDateString() %></span>
                        </div>
                        <div class="extra">
                            <a class="ui floated basic violet button" href="/tasks/<%= task._id %> ">
                                Read More
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <%}) } else {%>
                <h2>No Tasks Found</h2>
                <%}%>        
        </div>
    </div>
</div>

        </div>


         </div>
              </div>
            </div>

<!-------------------------------------------- FILTER ------------------------------------------->


</body>
</html>
