 <html>
    <head>
        <title>Meeting Tracker</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script src="https://kit.fontawesome.com/532e54d05a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>


    <body class="backgroundColor">
        
             <!------------------------NAV BAR--------------------------------------------------------->

         <nav class="navbar navbar-expand-lg navbar-light no-margin" id="navNewId">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                
                  <p class="item" id="visionetID">VISIONET</p>
                  
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
              <div class="item p-2 bd-highlight" id="userID">
                <p class="item align-self-center" style="margin: auto;"></p><%=currentUser.username%></p>
                </div>
                <a href="/logout" class="item p-2 bd-highlight" id="logoutID"><i class="fas fa-power-off fa-2x "></i></a>
            </div>
          </nav>
          </div>
          </div>
  
           <!------------------------NAV BAR END--------------------------------------------------------->
  
      <!------------------------SIDE BAR--------------------------------------------------------->
  
        <div class="container" id="indexContainerId">
          <div class="row">
            <div class="col-md-3" id="sideBarId">
        <div id="wrapper">
           <!-- Sidebar -->
           <div id="sidebar-wrapper">
              <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <li>
                  <a href="/dashboard" class="item p-2 bd-highlight">
                    <span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span> Dashboard</a>
               </li>
                <li class="active">
                    <a href="/home" class="item p-2 bd-highlight">
                      <span class="fa-stack fa-lg pull-left"><i class="fa fa-home fa-stack-1x "></i></span> Home</a>
                 </li>
                 <li>
                    <a href="/blogs" class="item p-2 bd-highlight">
                      <span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span> Meetings</a>
                 </li>
                 <li>
                    <a href="/tasks" class="item p-2 bd-highlight">
                      <span class="fa-stack fa-lg pull-left"><i class="fas fa-tasks fa-stack-1x"></i></span> Tasks</a>
                 </li>
                 <li>
                  <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-thumbtack fa-stack-1x "></i></span>Day Plan</a>
               </li>
               <li>
                  <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-project-diagram fa-stack-1x "></i></span>Projects</a>
               </li>
                 <!-- <i class="far fa-sticky-note"></i> -->
                 <li>
                  <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-sticky-note fa-stack-1x "></i></span>Self Notes</a>
               </li>
                 <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user-check fa-stack-1x "></i></span>Users</a>
                 </li>
              </ul>
           </div>
           </div>
            </div>
     
    
       <!------------------------SIDE BAR END--------------------------------------------------------->


         <!-------------------------------------------- FILTER ------------------------------------------->
                           
         <div class="col-md-3" id="filterID">
            <form action="/search/" id="EmployeeFormID" class="form-horizontal" method="POST"  role="form">

                <div class="col-md-12">
                    <h1>Filter Tasks Archive</h1>
                    <br>
                </div>
                        
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email" class="col-md-12 control-label">Person Responsible</label>
                        <div class="col-md-12">
                            <select class="form-control" name="task[name]">
                                <option selected =""></option>
                                <option value="Alok Bansal">Alok Bansal</option>
                                <option value="Amit Khandelwal">Amit Khandelwal</option>
                                <option value="Gitanjali Singh">Gitanjali Singh</option>
                                <option value="Jimmy Cherian">Jimmy Cherian</option>
                                <option value="Kshitij Singhal">Kshitij Singhal</option>
                                <option value="Miriam Shaju">Miriam Shaju</option>
                                <option value="Narmada Lakshamanan">Narmada Lakshmanan</option>
                                <option value="Raju Varda">Raju Varada</option>
                                <option value="Sundar K">Sundar K</option>
                                <option value="Tushar Singh">Tushar Singh</option>
                                <option value="Vishwa K">Vishwa K</option>
                              </select></div>
                    </div>
                 </div>
           <div class="col-md-12">
            <div class="form-group">
                <label for="email" class="col-md-12 control-label">Priority</label>
                <div class="col-md-12">
                    <select class="form-control" name="task[pname]">
                        <option selected =""></option>
                        <option value="Critical">Critical</option>
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                      </select></div>
            </div>
         </div>
           <div class="col-md-12">
              <div class="form-group">
                  <label for="email" class="col-md-12 control-label">Status</label>
                  <div class="col-md-12">
                      <select class="form-control" name="task[sname]">
                        <option selected =""></option>
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                        <option value="Deffered">Deferred</option>
                        </select></div>
              </div>
           </div>
           <div class="col-md-12">
              <div class="form-group">
                  <label for="email" class="col-md-12 control-label">&nbsp;</label>
                 
                   <div class="col-md-12">
                      <input type="submit" class="form-control btn btn-primary" name="submit" placeholder="Filter">
                  </div>
              </div>
           </div>
    </form>
         </div>
<!-------------------------------------------- FILTER END------------------------------------------->

<!-------------------------------------------- TASK ARCHIVE------------------------------------------->

    <div class="col-md-6" id="archiveID">
      <a class="btn btn-outline-info btn-lg" href="/tasks/new" style="margin-left: 5%;margin-top: 10%;float:right;">ADD TASK</a>
<div class="ui main text container">
    <div class="ui huge header">Tasks Archive</div> 
    <br>
    <div class="ui top attached segment">
        <div class="ui divided items">
            <% if(tasks.length>0) { %>
                <% for(let i=tasks.length-1;i>=0;i--){ %>
                <% var task=tasks[i]; %>
                <div class="item">
                    <div class="content">
                
                        <div class="header">
                            <p>Task: <%- task.description %></p> 
                        </div>
                            <div class="description">
                                <p>Assigned To: <%- task.assignedto %></p>
                        </div>
                        <div class="description">
                          <p>Deadline: <%- task.deadline %></p>
                        </div>
                       
                        <!-- <div class="meta">
                            <span>Task Created:<%= task.created.toDateString() %></span>
                        </div> -->
                        <div class="extra">
                            <a class="ui floated basic violet button" href="/tasks/<%= task._id %> ">
                                Read More
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <%}} else {%>
                <h2>No Tasks Found</h2>
                <%}%>        
        </div>
    </div>
</div>

        </div>

<!-------------------------------------------- TASK ARCHIVE END------------------------------------------->
         </div>
     </div>
    </div>




</body>
</html>
